.product-detail {
  margin-top: 3%;
  padding: 0 5%;
  height: 70vh;
  display: grid;
  grid-template-columns: 10% 50% 40%;

  &__gallery {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .product {
      cursor: pointer;
      width: 80px;
      height: 80px;
      margin-bottom: 10%;
      border-radius: 3px;
      object-fit: cover;
      object-position: center;
      opacity: 0.6;

      &.selected {
        opacity: 1;
        border: 1px solid #5ece7b;
      }
    }
  }

  &__image-preview-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .image-preview {
      width: 610px;
      height: 470px;
      border-radius: 3px;
      object-fit: contain;
      object-position: center;
      &.outOfStock {
        opacity: 0.7;
      }
    }
    .label {
      background-color: #fffffff1;
      padding: 10px;
      border-radius: 3px;
      color: #aaaaaa;
      position: absolute;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 2rem;
      top: 15vw;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__action {
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    .product-title {
      font-size: 1.875rem;
      &__brand {
        display: block;
        font-weight: 600;
      }
      &__entity {
        display: block;
        font-weight: 400;
      }
    }

    .product-attribute {
      margin-top: 1rem;
      .label {
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 5px;
      }

      .btn-container {
        display: flex;
        justify-content: flex-start;

        .btn-attribute {
          font-weight: 500;
          cursor: pointer;
          width: 58px;
          height: 41.4px;
          margin-right: 10px;
          border-radius: 3px;
          background-color: transparent;

          // &:not(button:disabled):hover {
          //   border: 1px solid #000000 !important;
          //   background-color: #000000 !important;
          //   color: #ffffff !important;
          // }
        }

        .Green {
          border: 1px solid #44ff03;
          color: #44ff03;
          background-color: #44ff03;

          &:hover,
          &.active {
            border: 2px solid red;
            background-color: darken(#44ff03, 10);
          }
        }
        .Cyan {
          border: 1px solid #03fff7;
          color: #03fff7;
          background-color: #03fff7;
          &:hover,
          &.active {
            border: 2px solid red;
            background-color: darken(#03fff7, 10);
          }
        }
        .Blue {
          border: 1px solid #030bff;
          color: #030bff;
          background-color: #030bff;
          &:hover,
          &.active {
            border: 2px solid red;
            background-color: darken(#030bff, 10);
          }
        }
        .Black {
          border: 1px solid #000000;
          color: #000000;
          background-color: #000000;
          &:hover,
          &.active {
            border: 2px solid red;
            background-color: darken(#000000, 10);
          }
        }
        .White {
          border: 1px solid #000000;
          color: #000000;
          background-color: #ffffff;
          &:hover,
          &.active {
            border: 2px solid red;
            background-color: darken(#ffffff, 10);
          }
        }

        .default {
          border: 1px solid #000000;
          &:hover,
          &.active {
            background-color: #000000;
            color: #ffffff;
          }
        }

        button:disabled {
          cursor: not-allowed;
          opacity: 0.6;
        }
      }
    }

    .product-price {
      margin-top: 1rem;
      .label {
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .price {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }

    .btn-cart {
      margin-top: 1rem;
      cursor: pointer;
      width: 292px;
      height: 52px;
      font-weight: 500;
      font-size: 1rem;
      background-color: #5ece7b;
      color: #ffffff;
      border: none;

      &:disabled {
        cursor: not-allowed;
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #000000;
        opacity: 0.6;
      }
    }

    .product-description {
      margin-top: 1rem;
      font-weight: 300;
      font-size: 0.9rem;
      width: 292px;
      text-align: justify;
      line-height: 25.59px;
      & > * {
        font-size: inherit;
      }
    }
  }

  .message-success {
    color: #ffffff;
    position: absolute;
    border-radius: 3px;
    padding: 15px;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5ece7c;
    text-transform: uppercase;
    z-index: 1000;

    animation-name: appear;
    animation-duration: 0.3s;
  }
  .message-error {
    color: #ffffff;
    position: absolute;
    border-radius: 3px;
    padding: 15px;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    text-transform: uppercase;
    z-index: 1000;

    animation-name: appear;
    animation-duration: 0.3s;
  }
}

body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #5ece7cee;
}
