header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
}
.shop-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.switch-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 8vw;
  cursor: pointer;

  .currency {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 2vw;
    margin-right: 15px;

    .fas {
      font-size: 0.6rem;
    }
  }
  .cart {
    display: flex;
    align-content: baseline;

    &-badge {
      position: relative;
      top: -10px;
      left: -10px;
      background-color: #000000;
      width: 19px;
      height: 19px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-count {
        font-size: 0.8rem;
        font-weight: 500;
        color: #ffffff;
      }
    }

    &:hover {
      color: #44ff03;
    }
  }
}
