.category-switcher {
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    padding: 0px;
    position: relative;
    left: -10px;

    li {
      width: 65px;
      color: #1d1f22;
      list-style: none;
      text-transform: uppercase;
      padding: 30px 0px;
      margin: 10px;
      cursor: pointer;
      text-align: center;

      &:hover {
        color: #5ece7b;
      }
    }
  }

  .text-green {
    color: #5ece7b;
    border-bottom: 2px solid #5ece7b;
  }
}
