.cart-overlay {
  position: absolute;
  top: 10vh;
  right: 0;
  height: 100vh;
  width: 100%;
  background: rgba(57, 55, 72, 0.22);

  animation-name: appear;
  animation-duration: 0.3s;

  &__content {
    position: absolute;
    right: 5vw;
    width: 325px;
    min-height: min-content;
    max-height: 500px;
    padding: 15px 10px;
    background-color: #ffffff;

    animation-name: appear_from_below;
    animation-duration: 0.5s;
    overflow: scroll;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    background: #eeeeee;
  }

  ::-webkit-scrollbar-thumb {
    background: #5ece7cee;
  }

  &__title {
    margin-top: 10px;
  }

  &__itemlist {
    margin: 20px 0;
    height: 137px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;

    .item {
      &__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;

        .text-light {
          font-size: 0.9rem;
          line-height: 1rem;
          .brand {
            display: block;
          }
          .product {
            display: block;
          }
        }
      }

      &__attribute {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        width: 100%;

        .wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .item__attribute-title {
            text-align: center;
            font-size: 0.8rem;
          }

          .btn {
            cursor: pointer;
            border: 1px solid black;
            height: 24px;
            padding: 4px 3px;

            &--none {
              display: none;
            }

            &--black {
              color: #ffffff;
              background-color: #000000;
            }
          }

          .Green {
            border: 1px solid #44ff03;
            color: #ffffff;
            background-color: #44ff03;
          }
          .Cyan {
            border: 1px solid #03fff7;
            color: #ffffff;
            background-color: #03fff7;
          }
          .Blue {
            border: 1px solid #030bff;
            color: #ffffff;
            background-color: #030bff;
          }
          .Black {
            border: 1px solid #000000;
            color: #ffffff;
            background-color: #000000;
          }
          .White {
            border: 1px solid #000000;
            background-color: transparent;
            color: #000000;
          }
        }
      }

      &__quantity {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .btn {
          cursor: pointer;
          border: 1px solid black;
          width: 24px;
          height: 24px;
          padding: 4px 3px;
          background-color: transparent;
        }
      }

      &__image {
        width: 105px;
        height: 137px;
        object-fit: contain;
        object-position: top;
      }
    }
  }

  &__totalprice {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;

    .btn {
      cursor: pointer;
      font-size: 1rem;
      text-transform: uppercase;
      width: 140px;
      height: 43px;
    }

    .button {
      &--bag {
        border: 1px solid black;
        background-color: transparent;
      }

      &--checkout {
        border: none;
        color: white;
        background-color: #5ece7b;
      }
    }
  }
}
